{% extends "_base.html" %} {% block title %}Categories | {{ config.title }}{%
endblock title %} {% block content %}
{% set taxonomy_mode = config.extra.taxonomy_mode | default(value="tags") %}
{% set taxonomy_section_enabled = config.extra.sections.tags | default(value=true) %}
{% if taxonomy_section_enabled and taxonomy_mode != "none" %}
<main class="article-list">
  <div class="article-header">
    <h1 class="heading">Categories</h1>
  </div>

  {% if terms %} {% set my_terms = terms %} {% else %} {% set taxonomy =
  get_taxonomy(kind="tags", lang=lang) %} {% set my_terms = taxonomy.items %} {%
  endif %}

  <div class="category-cloud">
    {% for term in my_terms %}
    <a href="{{ term.permalink }}" class="category-chip">
      {% if taxonomy_mode == "tags" %}
      <span class="category-prefix">#</span>
      {% endif %}
      <span class="category-name">{{ term.name }}</span>
      <span class="category-count">{{ term.pages | length }}</span>
    </a>
    {% endfor %}
  </div>
</main>
{% endif %}
{% endblock content %}
