{% extends "_base.html" %} {% block title %}{{ page.title }}{% if
page.extra.subtitle %}：{{ page.extra.subtitle }}{% endif %} | {{ config.title }}{%
endblock title %} {% block head %}
<!-- Primary Meta Tags -->
{% if page.description %} {% set description = page.description %} {%- elif
page.summary %} {% set description = page.summary %} {% else %} {% set
description = page.content %} {% endif %}
<meta
  name="description"
  content="{{ description | striptags | truncate(length=100) | safe }}"
/>

<!-- Open Graph / Facebook -->
<meta
  property="og:title"
  content="{{ page.title }}{% if page.extra.subtitle %}：{{ page.extra.subtitle }}{% endif %} | {{ config.title }}"
/>
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.permalink | safe }}" />
{% if page.date %}
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="article:modified_time" content="{{ page.updated | default(value=page.date, boolean=true) }}" />
{% endif %}
<meta property="article:section" content="{{ page.components | first }}" />

{% endblock head %} {% block content %} {#
<pre
  style="
    font-size: xx-small;
    height: 50vh;
    overflow: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: hsla(0, 0%, 90%, 1);
  "
>
    <code>
      {{ __tera_context | escape }}
    </code>
  </pre>
#}

{% set taxonomy_mode = config.extra.taxonomy_mode | default(value="tags") %}
{% set taxonomy_section_enabled = config.extra.sections.tags | default(value=true) %}
<article class="content-article">
  <main class="article-content">
    <div class="article-intro-container">
        <div class="intro-header">
            <h1 class="heading">{{ page.title }}</h1>
            {% if page.extra.subtitle %}
            <p class="subtitle">{{ page.extra.subtitle }}</p>
            {% endif %}
            <div class="meta-line">
                {% if page.date %}
                <span class="date">{{ page.date | date(format="%b. %d, %Y") }}</span>
                {% endif %}
                
                {{<taxonomy_meta item={page} taxonomy_mode={taxonomy_mode} taxonomy_enabled={taxonomy_section_enabled}/>}}
            </div>
        </div>

        <div class="intro-body">
            {% if page.extra.abstract or page.description %}
            <div class="intro-abstract">
                <div class="abstract-title">ABSTRACT</div>
                <p class="description">{% if page.extra.abstract %}{{ page.extra.abstract }}{% else %}{{ page.description }}{% endif %}</p>
            </div>
            {% endif %}

            {% if page.toc and page.extra.toc | default(value=true) %}
            <details class="intro-toc">
                <summary class="toc-title">CONTENTS</summary>
                <div class="toc-wrapper">
                <ul class="toc-list">
                    <li class="toc-root">
                        <a href="#" class="active-toc">{{ page.title }}</a>
                        {% if page.toc %}
                        <ul>
                            {% for h1 in page.toc %}
                            <li>
                                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                                {% if h1.children %}
                                <ul>
                                    {% for h2 in h1.children %}
                                    <li>
                                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                        {% if h2.children %}
                                        <ul>
                                            {% for h3 in h2.children %}
                                            <li>
                                                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                </ul>
                </div>
            </details>
            {% endif %}
        </div>
    </div>
    
    {{ page.content | safe }}
  </main>
</article>
{% endblock content %}
